/*==========*\
  HEADER
\*==========*/

.header {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  color: white;
  background-color: black;
  background-image: url(../img/header.jpg);
  height: 450px;
}
.header-logo {
  float: left;
  padding: 2%;
  margin-left: 2%;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  width: 40%;
  background-image: url(../img/cloud.png);
  background-repeat: no-repeat;
  background-position: left;
}
.login {
  float: right;
  padding: 2%;
  width: 30%;
}
.signin {
  border: 1px solid white;
}
p.signin {
  display: inline-block;
  padding: 2%;
  margin: 2%;
}
p.create {
  display: inline-block;
  background-color: #FF5500;
  padding: 2%;
  margin: 3%;
}

.header-titre {
  width: 70%;
  position: relative;
  top: 250px;
  left: 10%;
}
.header-titre p {
  font-size: 1.8em;
  font-family: sans-serif;
  text-align: center;
}

/*==========*\
    BODY1
\*==========*/

#titre h1 {
	text-align: center;
  font-family: 'Slabo 27px', serif;
  color:#333333;
}
#body1{
  width: auto;
  height: auto;
  background-color: #EEEEEE;
  padding: auto;
}
#imagesaline p {
	display:inline;
	margin-left: 40px;
}

#imagesaline img {
	margin: 2px;
	margin-top: 40px;
}

#imagesaline img:hover {
	background-image:url('assets/img/logosound');
	z-index: 1;
}

#imagesaline{
  width: 92%;
  background-color: #FFFFFF;
  margin: auto;
}

#titre{
  width: 92%;
  background-color: #FFFFFF;
  margin: auto;
}

/*==========*\
    BODY2
\*==========*/

.body2{
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
  padding: auto;
}

.trait{
  width: 94%;
  height: 1px;
  background-color: #EEEEEE;
  margin: auto;
}

.container{
  width: 92%;
  background-color: #FFFFFF;
  margin: auto;
}

.iphone{
  margin: 4% 0 0 10%;
}

.paragraphe{
  width: 50%;
  text-align: left;
  margin-top: -18em;
  margin-left: 45%;
}

.phrase{
  font-size: 30px;
  margin-left: 0;
}
.download{
  width: 50%;
  margin-top: 2em;
  margin-left: 45%;
}

.learn{
  width: 20%;
  margin-left: 66%;
  margin-top: -2.5%;
}

.learn_more{
  margin-top: -2em;
  margin-left: 1%;
  padding-bottom: 2%;
}

.more{
  text-decoration: none;
}

.banner{
  width: 100%;
  height: 20em;
  background-color: #111111;
  margin-top: 61px;
  margin-bottom: 15em;
}

.degrader{
  height: 20em;
}

.texte{
  color: white;
  width: 45%;
  margin-top: -30em;
  margin-bottom: 15em;
  margin-left: 20%;
}

.titre2{
  margin-left: -20%;
}

.text2{
  margin-left: -20%;
  font-size: 25px;
  font-weight: lighter;
}

span{
  color: #C25100;
}

.dj{
  height: 20em;
  float: right;
}

.boutton_body2{
  margin-top: -12em;
  margin-bottom: 12em;
  margin-left: 11%;
}
.find_out_more{
  color: white;
  font-size: 16px;
  background: transparent;
  border: 1px solid white;
  width: 12%;
  height: 3.5em;
  border-radius: 3px;
}

/*==========*\
    FOOTER
\*==========*/
#footer
{
  font-family: Tahoma,sans-serif;
  position: relative; 
}

.titre
{
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

p.titre2-footer
{
  text-align: center;
}

.bouton
{
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}
.compte

{
  text-align: center;
}
.boutonCompte, .boutonCompte:hover,
.boutonCompte:focus,
.boutonCompte :visited
{
  background-color: #f50;
  border-color: #f50;
  color: #fff;
}

.boutonLogin
{
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #333;
  line-height: 18px;
  padding: 10px 15px;
}

.loginCompte
{
  text-align: center;
  font-size: 18px; 
}

.footerLink
{
  text-align: center;
  color: #999;
}

.link
{
  font-size: 10px;
  color: #ccc;
}
